body {
  background-color: #fcfffc !important;
}

.icons {
  color: #fcfffc;
}
.user-cards {
  background-color: #0b3954 !important;
}

.d-inline {
  cursor: pointer;
}

.btn-primary {
  position: fixed;
  bottom: 30px;
  right: 30px;
}
.btn-primary:hover {
  transform: scale(1.2);
  transition: transform 0.2s ease-in-out;
}

.user-post:hover {
  transform: scaleX(1.1);
  transition: transform 0.2s ease-in-out;
  box-shadow: rgb(173, 186, 173, 0.2) 20px 10px 10px 20px;
}
